TRAEFIK_NETWORK_NAME=traefik-net
TRAEFIK_ENTRYPOINT=websecure
SUPER_PRODUCTIVITY_HOST=sp.thomega.fr

WEBDAV_BASE_URL=https://sp.thomega.fr/webdav/
WEBDAV_USERNAME=admin
WEBDAV_PASSWORD=change_me_strong_password
WEBDAV_SYNC_FOLDER_PATH=/

SYNC_INTERVAL=15
IS_COMPRESSION_ENABLED=true
IS_ENCRYPTION_ENABLED=false