CLOUDFLARE_EMAIL=your@email.com
CF_DNS_API_TOKEN=your_cloudflare_api_token
CF_DDNS_THOMEGA_DOMAIN=thomega.fr,ssh.thomega.fr
CF_DDNS_FANFARE_DOMAIN=fanfare-makabes.fr
CF_DDNS_THOMEGA_PROXIED=false
CF_DDNS_FANFARE_PROXIED=true
CF_DDNS_IP6_PROVIDER=none
TZ=UTC
