TRAEFIK_NETWORK_NAME=traefik-net
TRAEFIK_ENTRYPOINT=websecure

APP_HOST=draw.thomega.fr
STORAGE_BACKEND_HOST=draw-storage.thomega.fr
ROOM_HOST=draw-room.thomega.fr
MONGOEXPRESS_HOST=draw-db.thomega.fr

DB_USER=admin
DB_PASS=change_me_strong_password
DB_VOLUME_PATH=/data/excalidraw/mongodb

MONGOEXPRESS_USER=admin
MONGOEXPRESS_PASS=change_me_strong_password
